*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  position: relative;
}

#navbar{
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: .1px solid transparent;
  margin-bottom: 65px;
}

#navbar img{
  position: absolute;
  top: 36px;
  left: 135px;
}

.logo__header{
  display: inline-block;
  height: 30px;
}

.navbar__items li{
  display: inline-block;
  list-style: none;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  transition-duration: 4s;
}

.navbar__items li:hover{
  text-decoration: underline;
  color: #fff;
}

.navbar__items{
  text-align: right;
  margin: 30px;
  align-items: center;
}

.navbar__titulo{
  font-size: 36px;
  display: flex;
  justify-content: initial;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 70px 20px 20px;
  position: absolute;
  top: 150px;
  left: 100px;
}

main{
  width: 80%;
  margin: auto;
  margin-bottom: 65px;
}

#about{
  position: relative;
  margin-bottom: 65px;
}

.about__interactive{
  width: 444px;
  height: 300px;
}

.about__interactive img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.about__text{
  position: absolute;
  top: 128px;
  left: 49%;
  padding: 26px;
  text-align: center;
  background-color: #fff;
}

.creations__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.creations__title{
  text-transform: uppercase;
  font-weight: normal;
  
}

.creations__btn{
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  background: white;
  padding: 6px 33px;
}

.creations__gallery{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.creations__gallery--itens{
  float: left;
  width: 23%;
  position: relative;
}

.creations__gallery--itens img{
  width: 100%;
  padding: 0px 0px 15px 0px;
  box-sizing: border-box;
}
.creations__gallery--itens p{
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  top: 75%;
  right: 23%;
  left: 25%;
}

#footer{
  clear: both;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 20px 0px;
}

.footer__conatiner{
  width: 80%;
  margin: auto;
}

.footer__content{
  clear: both;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.footer__content--itens{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.footer__content--itens ul{
  display: flex;
  font-size: 10px;

}

.footer__content--itens ul li{
  list-style: none;
  padding: 0px 10px;
}

.footer__content--itens ul li:first-child{
  padding: 0px 10px 0px 0px;
}

.footer__content--icons img{
  width: 26px;
  padding: 5px;
}

.footer__attribution{
  color: hsl(0, 0%, 55%);
  font-size: 10px;
}

.footer__attribution a{
 text-decoration: none;
 color: hsl(0, 0%, 55%);
}