*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  font-weight: normal;
}

/* Versão Mobile */

/* Header */
#navbar{
  background-image: url("./assets/img/desktop/image-hero.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 65px;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 30px;
  width: 90%;
}

.navbar__logo{
  width: 160px;
}

.navbar__items{
  display: none;
}

.navbar__title{
  margin: auto;
  width: 80%;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
}

.navbar__title h1{
  color: #fff;
  text-align: left;
  padding: 20px;
  letter-spacing: .1em;
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #fff;
}

/* Main */
main{
  width: 90%;
  margin: auto;
  margin-bottom: 65px;
}

main h2{
  color:hsl(0, 0%, 41%);
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

/* Seção About */
#about{
  margin-bottom: 65px;
}

.about__interactive{
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.about__interactive img{
  width: 100%;
}

.about__text{
  text-align: center;
  background-color: #fff;
}

.about__text p{
  color: hsl(0, 0%, 55%);
}

/* Seção Creations */
#creations{
  width: 90%;
  margin: auto;
}

.creations__gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creations__gallery--itens.mobile{
  width: 100%;
  height: 100%;
}

.creations__gallery--itens{
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.creations__gallery--itens p{
  position: absolute;
  top: 25%;
  left: 7%;
  color: #fff;
  font-size: 18px;
  width: 87px;
  text-transform: uppercase;
}

.creations__btn{
  display: none;
}

.creations__btn--end{
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #000;
  padding: 8px 40px;
  letter-spacing: .1em;
}

.creations__gallery--itens.desktop{
  display: none;
}


/* Footer */
#footer{
  width: 100%;
  margin: auto;
  padding: 32px;
  background-color: #000;
}

.footer__logo{
  padding: 20px;
}

.footer__container{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content--itens{
  display: contents;
}

.footer__content--itens ul{
  margin-bottom: 15px;
  list-style: none;
}

.footer__content--itens li{
  text-align: center;
  padding: 8px;
}

.footer__content--icons ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer__content--icons li{
  padding: 10px;
}

.footer__attribution{
  color:hsl(0, 0%, 41%);
  text-align: center;
}

.footer__attribution a{
  color:hsl(0, 0%, 41%);
  text-decoration: none;
}

.footer__social{
  display: contents;
}




@media screen and (min-width: 39.33em){
  .navbar__icon{
    display: none;
  }

  .navbar__items{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
  }

  .navbar__title {
    width: 48%;
    top: 34%;
    left: 20%;
  }

  .navbar__items li{
    padding: 5px;
  }

  /* Seções */
  #about{
    margin-bottom: 75px;
  }

  .about__interactive {
    width: 60%;
    margin: 0;
    display: inline-block;
    position: relative;
  }

  .about__text{
    position: absolute;
    top: 24%;
    left: 81%;
    width: 90%;
    padding: 23px;
    font-size: 13px;
  }

  .about__text p{
    margin-bottom: 2px;
  }

  #creations {
    width: 100%;
    margin: 0;
  }

  .creations__gallery{
    display: contents;
  }

  .creations__gallery--itens.mobile{
    display: none;
  }

  .creations__gallery--itens.desktop{
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .creations__gallery--itens{
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  
  .creations__gallery--itens img{
    width: 100%;
    height: 100%;
  }

  .creations__gallery--itens p {
    top: 68%;
    left: 24%;
  }

  .creations__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .creations__btn--end{
    display: none;
  }
  
  .creations__btn{
    display: block;
    text-transform: uppercase;
    background: #fff;
    border: 2px solid #000;
    padding: 8px 40px;
    letter-spacing: .1em;
  }

  #footer{
    clear: both;
    padding: 0;
  }

  .footer__container{
    width: 90%;
    margin: auto;
  }

  .footer__content--itens{
    display: flex;
  }

  .footer__logo{
    margin-right: 90px;
  }

  .footer__logo ul{
    display: flex;
  }

  .footer__social{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .footer__content--icons{
  display: flex;
  justify-content: flex-end;
  }

  .footer__content--icons ul{
  display: flex;
  margin-bottom: 5px;
  }

  .footer__content--itens li {
    padding: 10px 8px 0px 0px;
  }

  .footer__attribution{
  text-align: center;
  font-size: 10px;
  }

}

@media screen and (min-width: 750px){
  .navbar__title {
    width: 33%;
  }
  .about__text{
    padding: 30px;
  }
  .about__text p{
    margin-bottom: 52px;
  } 

  .footer__logo {
    margin-right: 160px;
  }

  .footer__attribution{
  text-align: right;
  }
}
